:root{ /* For sitewide buttons */
    --border-radius-large: 4px !important; /* Used on the dashboard */
    --border-radius-pill: 4px !important; /* Used everywhere else */
}

.list-item, .list-item-style, .action-item--single, .action-item__menutoggle{ /* For E-mail app */
    border-radius: var(--border-radius-pill) !important;
}

.icon-history{
    border-radius: 100px !important; /* Still E-mail, reversing the border for this icon as it has an animation that would overlap */
}

.fc-day-today .fc-daygrid-day-number{ /* For Calendar app */
    border-radius: var(--border-radius-pill) !important;
}

.note-card-view, .folder-card-view{ /* For Carnet app */
    border-radius: var(--border-radius-pill) !important;
}

#uploadprogressbar { /* For upload progress bar */
    border-radius: var(--border-radius-pill) 0 0 var(--border-radius-pill) !important;
}
