:root { /* Body container settings */
--body-container-margin: 0.01px !important;
--body-container-radius: 0 !important;
--body-height: calc(100% - env(safe-area-inset-bottom) - var(--body-container-margin)) !important;
}

[data-theme-light], [data-theme-dark]{ /* For sitewide buttons, both themes */
    --border-radius-large: 4px !important; /* Used on the dashboard */
    --border-radius-pill: 4px !important; /* Used everywhere else */
}

#app-navigation:not(.vue) {
  --border-radius-pill: var(--border-radius-pill) !important; /* Navigation buttons on sidebar */
}

.checkbox-radio-switch__label { /* Radio button, used mainly in settings */
  border-radius: var(--border-radius-pill) !important;
}

.list-item, .list-item-style, .action-item--single, .action-item__menutoggle{ /* For E-mail app */
    border-radius: var(--border-radius-pill) !important;
}

.envelope { /* Content part of E-mails */
  border-radius: var(--border-radius-pill) !important;
}

.fc-day-today .fc-daygrid-day-number{ /* For Calendar app */
    border-radius: var(--border-radius-pill) !important;
}

.note-card-view, .folder-card-view{ /* For Carnet app */
    border-radius: var(--border-radius-pill) !important;
}

#uploadprogressbar { /* For upload progress bar */
    border-radius: var(--border-radius-pill) 0 0 var(--border-radius-pill) !important;
}

/* For buttons, needs to be before specific button overrides (like the E-mail icon-history) */
input[type='submit'],
input[type='submit'].icon-confirm,
input[type='button'],
button,
a.button,
.button,
select {
    border-radius: var(--border-radius-pill) !important;
}

/* Fix some button misalignments */
#body-login input.primary { /* For login button */
    width: 100% !important;
}

#body-login .two-factor-submit { /* For two factor submit button */
    width: 269px !important; /* It's a hardcoded width, following the same hardcoded width from the two factor input. That's just sad :( */
}

.icon-history{
    border-radius: 100px !important; /* Still E-mail, reversing the border for this icon as it has an animation that would overlap */
}
